{% extends 'default_django_project/base.html' %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.min.css"
          integrity="sha512-3g+prZHHfmnvE1HBLwUnVuunaPOob7dpksI7/v6UnF/rnKGwHf/GdEq9K7iEN7qTtW+S0iivTcGpeTBqqB04wA=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'features/css/image_drag_and_drop/image_drag_and_drop.css' %}">
{% endblock %}
{% block side_navigation %}
    {% include 'base_site/side_navigation.html' %}
{% endblock %}
{% block breadcrumbs %}
    {% include 'base_site/breadcrumbs.html' with data=data_breadcrumb %}
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h6>Drag And Drop Images</h6>
                    </div>
                    <div class="card-body">
                        <div id="dropzone">
                            <form id="dropZoneForm" class="dropzone needsclick dz-clickable" action="#" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="abc" value="i am hidden value">
                                <div class="fallback">
                                    <input name="file" type="file" multiple/>
                                </div>
                            </form>
                            <br>
                            <input type="submit" id="submit-all" value="Upload" class="custom-button"
                                   style="float: right">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"
            integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg=="
            crossorigin="anonymous"></script>

    <script type="text/javascript"
            src="{% static '/features/js/image_drag_and_drop/image_drag_and_drop.js' %}"></script>
{% endblock %}