.card {
    box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
    float: left;
    width: 100%;
}

.card-header {
    background-color: #fff;
    border-bottom: none;
}

.card-body {
    background-color: #fff;
}
