.nav-color{
    /*background-color: #153d77; !important;*/
    opacity: 100%;
}

.navbar-brand{
    color: #fff;
}

.navbar-brand:hover{
    text-decoration: none;
    color: #fff;
}

/*.full-width{*/
/*    width: 100%;*/
/*}*/