<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Django Dashboard</title>
    {% block responsive %}
        {% include 'base_site/base_css.html' %}
    {% endblock %}
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>
<body class="primary-background">
<div class="secondary-background"></div>
{% block header %}
    {% include 'base_site/header.html' %}
{% endblock %}
<div class="wrapper">
    {% block side_navigation %}
    {% endblock %}
    <div id="content">
        <div class="container-fluid">
            {% block breadcrumbs %}
{#                {% include 'base_site/breadcrumbs.html' %}#}
            {% endblock %}

            {% block messages %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% block footer %}
{% endblock %}
{% block headerjs %}
        {% include 'base_site/base_js.html' %}
{% endblock %}
{% block js %}
{% endblock %}

</body>
</html>